body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
.image {
    display: flex;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 6px gray;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
}
.navigation .logo {
    margin-left: 76px;
}
.menu {
    margin-right: 75px;
    display: flex;
}
.menu ul{
    display: flex;
    transition: 0.8s;
}
.nav-items {
    list-style: none;
    padding:10px;
}
.nav-link {
    text-decoration: none;
    font-size: 22px;
    padding:10px ;
    color: black;
    
}
.active {
    color: #021F68;
    font-weight: bold;
    border-bottom: 1px solid ;
}


.bg-img{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/bg-cv.png);
    height: 100vh;
    background-size: cover;
    background-position:bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bg-img .img {

    text-align: center;
   
}
.button:hover{
    background:orange;
}
.logo img {
    color: #021F68;

}
.logo {
    display: flex;
}
.logo h2 {
    color: #000;
}

.nav a {
    padding: 1rem;
    text-decoration: none;
}
h1 {
  font-size: 2.9rem;
  color: #fff;

}
h2, h3, .button {
  color: #fff;
  
}

.button a {

  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
.button {
    margin: auto;
    
    border: 1px solid #fff;
    padding: 0.8rem;
    width: 10rem;
    
}
h2 {
    font-size: 2rem;
}
h3 {
    line-height: 2;
}
/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background: #021F68;
    padding: 2rem;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons img {
    padding: 0.2rem;
}
.h4 {
    display: flex;
    justify-content: center;
}
.footer1 p {
    font-size: 0.9rem;
}
h4, p {
    color: #fff;
}
input {
    padding: 0.9rem;
    width: 100%;
}
.btn a {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}
.btn {
    margin-top: 1rem;
    border: 1px solid #fff;
    width: 40%;
    padding: 0.7rem;
}

/*-------------------- about-------------------*/
h5 {
    font-size: 2.5rem;
}
.header {
    display: flex;
    justify-content: center;
    color: #021F68;
    margin-top: 5rem;
}
.body p {
    color: #000;
}
.paragraph p, b{
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
}
.paragraph{
    text-align: center;
}
.card {
    background: #40B3E0;
}
.cd {
    background: #40B3E0;
    padding: 1rem;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button2 a {
    text-decoration: none;
    font-size: 1.5rem;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 1rem;
    width: 11rem;
    margin-top: 1.5rem;
}
.button2:hover{
    background: orange;
}
/*----------------- services--------------------------- */

.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.contact {
    display: flex;
    justify-content: center;
}
.border-bottom {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #fff;
    z-index: 1;
    width: 6%;
    position: absolute;
    margin-top: 8.8rem;
    border-radius: 10px;
}
h6 {
    font-size: 2.5rem;
}
.card-body {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
}
.cards {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top: 5px solid blue;
    background: #fff;
    margin: auto;
    margin-top: 1rem;
}
.tool-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images {
    display: flex;
    justify-content: center;
}
.images img {
    width: 100%;
}
.border {
    margin-left: 2rem;
    margin-top: 2rem;
}
.bottom {
    width: 80%;
    position: relative;
    padding: 0.4rem;
    border-radius: 10px;
    background: grey;
}
.btns {
    position: absolute;
    width: 12%;
    z-index: 1;
    border-radius: 10px;
    background: #021F68;
    padding: 0.4rem;
}
.contain, span  {
    display: flex;
    justify-content: center;
    padding: 0.9rem;
}
span {
    font-size: 1.5rem;
}
.python {
    width: 10%;
}
.css {
    width: 13%;
}
.phps, .figma {
    width: 11%;
}
/*-------------------hobby------------------- */

.border-btt1 {
    background: gray;
    width: 10%;
    height: 0.3rem;
}
.photos img {
    width: 50%;
    margin-top: 1rem;
}
.new-cards {
    border-radius: 1rem;
    width: 95%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.new-cards:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.new-cards span {
    margin-top: 1.5rem;
}
.contact {
    margin-top: 3rem;
}
.card-body1 {
    display: flex;
}
.card4{
    height: 50vh;
    width: 90%;
    margin-right: 2%;
}
/*-------- contact------------------ */
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}
.head6 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
form {
    display: flex;
    justify-content: space-between;
    background: #021F68;
    width: 35%;
    height: 35rem;
    border-radius: 1rem;
}
.banner input {
    border-radius: 2rem;
}
.banner input, textarea {
    box-sizing: border-box;
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
}
.text {
    text-align: center;
}
textarea {
    resize: none;
    height: 8rem;
}
.logo-cont {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.fa-user-circle-o {
    font-size: 5rem;
    color: orangered;
}
iframe {
    width: 100%;
    margin-top: 2rem;
}
.btn:hover{
    background:orange;
}
.btn-send a {
    text-decoration: none;
    color: #fff;
}
.button4 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.btn-send {
    border: 1px solid #fff;
    padding: 1rem;
    width: 20%;
}
.btn-send:hover {
    background: orange;
}
/*-------- responsive--------- */
@media(max-width:768px){
    /* index */
    ul {
        margin-right: 12rem;
    }
    .logo h2{
        display: none;
    }
    .logo img {
        display: none;
    }
    .menu a {
        font-size: 1rem;
        line-height: 0.1;
    }
    .menu {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .navigation .menu {
        display: flex;
        justify-content: center;
    }
    .bg-body {
        width: 100%;
        
    }
    .bg-body .img {
        width: 100%;
    }
    .img {
        width: 100%;
    }
    /* about */
    .body b {
        text-align: center;
    }
    .paragraph {
        text-align: center;
    }
    footer {
        width: 91.5%;
    }
    .button2 {
        padding: 1rem;
        margin-bottom: 2rem;
    }
    /* services */
    .card-body {
        flex-wrap: wrap;
        width: 100%;
        
    }
    .cards {
        flex-wrap: wrap;
        width: 90%;
        margin: 10px;
        text-align: center;     
    }
    /* hobby */
    .card-body {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        padding: 1rem;
    }
    .new-cards {
        width: 50%;
        margin-top: 1rem;
        text-align: center;
    }
    .witd-card, .card4 {
        width: 100%;
    }
    /* contact */
    .container {
        width: 95%;
    }
    .photo img {
        display: flex;
        margin: auto;
        width: 90%;
    }
    form {
        display: flex;
        width: 80%;
    }
}

@media(max-width: 428px) {
    body {
        overflow-x: hidden;
    }
    .navigation .logo{
        display: none;
    }
    .bg-img {
        width: 100%;
        height: 130vh;
    }
    .navigation .menu{
        width: 100%;
   }
   .img h1 {
       font-size: 2rem;
   }
    .navigation .menu ul{
        width: 100%;
        display: block;
        line-height: 1;
        top: 0;
   }
    .img h1 {
        margin-top: 230px;
        font-weight: 600;
    }
    .footer3, .footer1 {
        display: none;
    }
    /* about */
    .body .header {
        margin-top: 15rem;
    }
    .button2 {
        padding: 0.8rem;
        margin-bottom: 2rem;
    }
    /* services */
    .card {
        width: 100%;
    }
    .card-body {
        flex-wrap: wrap;
        display: block;
    }
    .cards {
        width: auto;
        margin: 20px;  
    }
    .border-bottom {
        width: 20%;
    }
    .btns {
        width: 27%;
    }
    .python {
        width: 23%;
    }
    .css {
        width: 30%;
    }
    .phps {
        width: 24%;
    }
    .mt-border {
        margin-top: 16rem;
    }
    /* hobby */
    .new-cards {
        width: 100%;
    }
    .contact h6 {
        margin-top: 13rem;
    }
    .card4 {
        height: 45vh;
    }
    /* contact */
    .container {
        display: block;
        width: 100%;
    }
    form {
        display: flex;
        margin: auto;
        width: 90%;
    }
    .photo img {
        width: 100%;
    }
    .head6 h5 {
        margin-top: 10rem;
        font-size: 2rem;
    }
    .maps {
        margin: auto;
        width: 90%;
    }
    ul {
        margin-left: 7rem;
    }
}